* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(232, 232, 232);
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.space {
    height: 50px;
}

.navbar {
    user-select: none;
    justify-content: space-between;
    display: flex;
    background: linear-gradient(137deg, rgba(0,13,184,1) 10%, rgba(98,1,128,1) 36%, rgba(255,0,215,1) 77%);
}

.nav-brand {
    padding: 10px;
    display: flex;
    font-family: 'sofia';
}

.nav-brand img {
    width: 50px;
    height: 50px;
}

.nav-brand .text-brand {
    padding-top: 8px;
    font-size: 1.5rem;
    color: #fff;
}

.nav-list {
    display: flex;
}

.nav-list a {
    text-decoration: none;
}

.nav-list li {
    list-style-type: none;
    padding: 25px;
}

.nav-list a li {
    color: #fff;
    font-size: 1.1rem;
    font-family: sans-serif;
    transition: 0.5s ease all;
}

.nav-list a li:hover {
    background-color: rgb(232, 232, 232);
    color: black;
    cursor: pointer;
}

.container {
    margin-top: 50px;
    display: flex;
    user-select: none;
    width: 100%;
}

.container .row1 {
    width: 20%;
}

.row1 img {
    padding-top: 90px;
    padding-bottom: 40px;
    width: 300px;
}

.container .row2 {
    width: 60%;
    cursor: default;
}

.row2 .row2-text {
    width: 500px;
    margin: auto;
    font-size: 1.3em;
    margin-top: 180px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container .row3 {
    margin: 40px;
    cursor: default;
}

.row3 .row3-text {
    text-align: center;
    margin-top: 120px;
    font-size: 1.4em;
}

.row3 .download {
    margin: 30px auto;
    width: 225px;
}

.row3 .download img {
    width: 100px;
    align-items: center;
    margin: 5px;
}

.row3 .download img:hover {
    box-shadow: #fff 0px 0px 15px 0px;
}

footer {
    width: 100%;
    margin-top: 70px;
    user-select: none;
    background: linear-gradient(141deg, rgba(255,44,223,1) 0%, rgba(0,20,255,1) 100%);
}

.footer-best {
    display: flex;
    width: 100%;
}

.footer-cpy {
    color: #fff;
    justify-content: center;

}

.cpy p {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.cpy p a {
    color: #fff;
    text-decoration: none;
}

.footer-desk {
    padding: 20px;
    margin: 10px;
    width: 33%;
    display: flex;
}

.footer-desk .desk-content {
    display: flex;
}

.footer-title {
    font-family: serif;
    font-size: 2rem;
    color: #fff;
    margin-top: 30px;
}

.footer-desk img {
    width: 100px;
    height: 100px;
}

.footer-list {
    width: 33%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-list a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
}

.footer-list li {
    list-style-type: none;
    margin-top: 10px;
    margin: 20px;
    transition: 0.1s ease all;
}

.footer-list li:hover {
    color: black;
}

.footer-founder {
    width: 33%;
}

.title-founder {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    font-family: 'sofia';
    margin-top: 20px;
}

.footer-founder .founder {
    margin-top: 20px;
}

.footer-founder .founder img {
    width: 80px;
}

.footer-founder .founder .founder1 {
    width: 200px;
    margin: auto;
}

.founder p {
    font-family: serif;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.2em;
    
}

/* Layanan */
.container-layanan {
    user-select: none;
}

.container-layanan h1 {
    font-family: 'sofia';
    margin: 70px 55px;
}

.content-layanan {
    display: flex;
    width: 100%;
}

.content-layanan img {
    width: 200px;
}

.row1-layanan, .row2-layanan {
    width: 50%;
    text-align: center;
}

.row1-layanan p, .row2-layanan p {
    font-size: 1.5em;
    font-family: 'sofia';
}

.row1-layanan .desk-layanan,
.row2-layanan .desk-layanan{
    font-family: sans-serif;
    font-size: 0.9em;
    width: 350px;
    margin-top: 5px;
    margin: auto;
}

/* Layanan */

/* Tentang */
.container-tentang {
    margin: 0px;
    padding: 0px;
}

.content-tentang {
    display: flex;
}

.container-tentang h1 {
    font-family: 'sofia';
    margin: 50px 50px;
}

.row1-tentang {
    width: 50%;
}

.row1-tentang p {
    margin: auto;
    width: 85%;
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 20px;
    text-align: justify;
}

.row2-tentang {
    width: 50%;
    transform: translateY();
}

.row2-tentang h1 {
    font-family: 'sofia';
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
}

.row2-tentang .wrapper-tentang {
    margin: auto;
    height: 500px;
    width: 500px;
    border-radius: 25px;
    background: linear-gradient(141deg, rgba(255,44,223,1) 0%, rgba(0,20,255,1) 100%);
}

.mapouter .gmap_canvas iframe {
    border-radius: 20px;
    width: 490px;
    height: 490px;
    transform: translate(-1%, 1%);
}

/* Tentang */

/* Kontak */
.container-kontak {
    margin-top: 400px;
}

.container-kontak button {
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(141deg, rgba(255,44,223,1) 0%, rgba(0,20,255,1) 100%);
}
/* Kontak */

@media (max-width: 900px) { /* Tab chr Laptop */
    .navbar {
        overflow: hidden;
    }
    .nav-brand img {
        width: 50px;
        height: 50px;
        margin-top: 2px;
    }
    .nav-brand .text-brand {
        font-size: 1.5rem;
        padding-top: 10px;
    }
    .nav-list a li {
        font-size: 1rem;
    }
    .nav-list li {
        padding: 21px;
        margin: 5px;
    }

    .container {
        width: 100%;
    }
    .container .row1 {
        width: 100%;
    }
    .row2 .row2-text {
        width: 300px;
        font-size: 1.2em;
        margin-top: 160px;
    }
    .row3 .row3-text {
        margin-top: 130px;
        font-size: 1.2em;
    }
    .row3 .download {
        width: 225px;
    }
    .row3 .download img {
        width: 100px;
        margin: 5px;
    }
    footer {
        margin-top: 100px;
    }
    .footer-best {
        flex-direction: column;
    }
    .footer-desk {
        width: 70%;
        margin: auto;
    }
    .footer-desk .desk-content {
        margin: auto;
        display: flex;
    }
    .footer-list {
        width: 70%;
        margin: auto;
    }
    .footer-list a li {
        font-size: 1.2em;
    }
    .footer-desk {
        padding: 0;
        margin: auto;
        margin-top: 30px;
    }
    .footer-desk img {
        width: 100px;
        height: 100px;
    }
    .footer-title {
        font-family: serif;
        font-size: 2rem;
        color: #fff;
    }
    .footer-founder {
        width: 100%;
        margin: auto;
    }
    .title-founder {
        font-size: 1.7em;
    }
    .footer-founder .founder img {
        width: 80px;
    }
    .founder p {
        font-size: 1.2em;
    }
    .footer-cpy {
        margin-top: 50px;
    }
    .footer-cpy p {
        font-size: 1em;
    }

    /* Layanan */
    .container-layanan h1 {
        font-size: 2em;
    }
    .content-layanan img {
        width: 250px;
    }
    .content-layanan {
        margin-top: 5%;
    }
    .row1-layanan p, .row2-layanan p {
        font-size: 2em;
    }
    .row1-layanan .desk-layanan,
    .row2-layanan .desk-layanan{
        font-size: 1.2em;
        width: 400px;
        margin-top: 5px;
    }
    /* Layanan */

    /* Tentang */

    .container-tentang h1 {
        font-family: 'sofia';
        margin: 50px 50px;
    }

    .row1-tentang {
        width: 50%;
    }

    .row1-tentang p {
        margin: auto;
        width: 85%;
        font-size: 1.2em;
        font-family: sans-serif;
        margin-top: 20px;
        text-align: justify;
    }

    .row2-tentang {
        width: 50%;
    }

    .row2-tentang h1 {
        font-family: 'sofia';
        text-align: center;
        margin: 0px;
    }

    .row2-tentang .wrapper-tentang {
        height: 400px;
        width: 400px;
        border-radius: 25px;
    }

    .mapouter .gmap_canvas iframe {
        border-radius: 20px;
        width: 390px;
        height: 390px;
        transform: translate(-27%, 1.2%);
    }

    /* Tentang */
}

@media (max-width: 835px) { /* Medium Tablet */
    .nav-brand img {
        width: 50px;
        height: 50px;
    }
    .nav-brand .text-brand {
        font-size: 1.5em;
        padding-top: 10px;
    }
    .nav-list a li {
        font-size: 1.1rem;
    }
    .nav-list li {
        padding: 20px;
        margin: 5px;
    }
    .container {
        flex-direction: column;
    }
    .row1 img {
        width: 300px;
        padding-top: 20px;
    }
    .row2 {
        margin-top: 40px;
        margin: auto;
        width: 100%;
    }
    .row2 .row2-text {
        width: auto;
        font-size: 1.5em;
        margin-top: 30px;
    }
    .row3 .row3-text {
        font-size: 1.5em;
        margin-top: 40px;
    }
    .row3 .download {
        width: 225px;
    }

    /* Layanan */
    .container-layanan h1 {
        font-size: 2.5em;
    }
    .content-layanan img {
        width: 220px;
    }
    .content-layanan {
        margin-top: 5%;
        flex-direction: column;
    }
    .row1-layanan p, .row2-layanan p {
        font-size: 2.2em;
        margin-top: 25px;
    }
    .row1-layanan {
        width: 100%;
        margin: auto;
    }
    .row2-layanan {
        margin: auto;
        width: 100%;
        margin-top: 100px;
    }
    .row1-layanan .desk-layanan,
    .row2-layanan .desk-layanan{
        font-size: 1.3em;
        width: 70%;
        margin-top: 20px;
    }
    /* Layanan */

    /* Tentang */
    .content-tentang {
        flex-direction: column;
    }
    .row1-tentang {
        width: 100%;
        margin-top: 0px;
    }
    .row1-tentang p {
        font-size: 1.1em;
    }
    .row2-tentang {
        width: 100%;
        margin: auto;
    }

    .row2-tentang h1 {
        font-family: 'sofia';
        text-align: center;
        margin: 0px;
        padding-top: 60px;
    }

    .row2-tentang .wrapper-tentang {
        margin: auto;
        height: 370px;
        width: 370px;
        border-radius: 25px;
        background: linear-gradient(141deg, rgba(255,44,223,1) 0%, rgba(0,20,255,1) 100%);
    }

    .mapouter .gmap_canvas iframe {
        border-radius: 20px;
        width: 360px;
        height: 360px;
        transform: translate(-37.5%, 1.3%);
    }

    /* Tentang */
}

@media (max-width:  600px) { /* Tablet Device*/
    /* Layanan */
    .content-layanan {
        flex-direction: column;
        margin-top: 0px;
    }
    .container-layanan h1 {
        font-size: 1.5em;
    }
    .content-layanan img {
        width: 120px;
    }
    .row1-layanan, .row2-layanan {
        margin: auto;
        margin-top: 30px;
        width: 220px;
    }
    .row1-layanan p, .row2-layanan p {
        font-size: 1.5em;
    }
    .row1-layanan .desk-layanan,
    .row2-layanan .desk-layanan{
        font-size: 0.8em;
        width: 220px;
    }
    /* Layanan */
}

@media (max-width: 568px) { 
    .nav-list {
        width: 0;
        overflow: hidden;
    }
    .nav-brand img {
        width: 40px;
        height: 40px;
    }
    .nav-brand .text-brand {
        font-size: 1.2rem;
    }
}

@media (max-width: 428px) { /* Handphone Device */
    .navbar {
        height: 80px;
    }
    .nav-brand .text-brand {
        font-size: 1.4em;
        margin-top: 6px;
    }
    .nav-brand img {
        width: 60px;
        height: 60px;
    }
    .container {
        flex-direction: column;
    }
    .row1 img {
        height: 200px;
        width: 200px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .container .row2 {
        margin: auto;
        width: auto;
    }
    .row2 .row2-text {
        margin: auto;
        font-size: 1.2em;
        width: 300px;
        margin-top: 30px;
    }
    .row2 .download {
        margin: 20px auto;
        width: 185px;
    }
    .row2 .download img {
        width: 80px;
        margin: 5px;
    }
    .container .row3 {
        width: auto;
        margin-top: 35px;
    }
    .row3 .row3-text {
        width: auto;
        font-size: 1.2em;
    }
    .desk-content img {
        width: 80px;
        height: 80px;
    }
    .footer-title {
        font-size: 1.5rem;
    }
    .footer-list a li {
        width: 100px;
        align-items: center;
        margin: 20px auto;
        font-size: 1em;
    }
    .footer-founder .title-founder {
        font-size: 1.7em;
    }
    .footer-founder .founder img {
        width: 80px;
    }
    .footer-founder p {
        font-size: 1.3em;
        margin-top: 5px;
    }
    .footer-cpy p {
        font-size: 1em;
    }

    /* Layanan */
    .container-layanan h1 {
        font-size: 1.8em;
        margin: 70px 40px;
    }
    .container-layanan {
        margin: auto;
    }
    .content-layanan img {
        width: 180px;
    }
    .row1-layanan {
        width: 300px;
        margin-top: 0px;
    }
    .row2-layanan {
        margin-top: 70px;
        width: 300px;
    }
    .row1-layanan p, .row2-layanan p {
        font-size: 1.5em;
        margin-top: 10px;
    }
    .row1-layanan .desk-layanan,
    .row2-layanan .desk-layanan{
        font-size: 1em;
        width: auto;
        margin: auto;
        margin-top: 25px;
    }
    /* Layanan */

    /* Tentang */
    .container-tentang {
        flex-direction: column;
    }
    .container-tentang h1 {
        margin: 50px 30px;
    }
    .row1-tentang {
        width: 100%;
    }
    .row1-tentang p {
        font-size: 1em;
    }
    .row2-tentang {
        width: 100%;
        margin-top: 21px;
    }

    .row2-tentang h1 {
        font-family: 'sofia';
        text-align: center;
        margin: 0px;
        padding-top: 60px;
    }

    .row2-tentang .wrapper-tentang {
        margin: auto;
        height: 340px;
        width: 340px;
        border-radius: 25px;
        background: linear-gradient(141deg, rgba(255,44,223,1) 0%, rgba(0,20,255,1) 100%);
    }

    .mapouter .gmap_canvas iframe {
        width: 330px;
        height: 330px;
        transform: translate(-50%, 1.3%);
    }

    /* Tentang */
}

@media (max-width: 375px) { /* Small Handphone Device */
    .navbar {
        height: max-content;
    }
    .nav-brand .text-brand {
        font-size: 1.1em;
        padding-top: 5px;
    }
    .nav-brand img {
        width: 40px;
        height: 40px;
    }
    .row2 .row2-text {
        width: 270px;
        font-size: 1.2em;
    }
    .row3 .row3-text {
        font-size: 1.2em;
    }
    .desk-content .footer-title {
        font-size: 1.5em;
        margin-top: 20px;
    }
    .footer-list {
        padding-top: 30px;
    }
    .footer-list a li {
        font-size: 0.9em;
    }
    .footer-founder .title-founder {
        font-size: 1.3em;
    }
    .footer-founder .founder1 img {
        width: 70px;
    }
    .founder .founder1 p {
        font-size: 1.1em;
        margin-top: 5px;
    }
    .footer-cpy {
        margin-top: 20px;
    }
    .cpy p {
        font-size: 0.8em;
    }
    
    /* Layanan */
    .container-layanan h1 {
        font-size: 1.5em;
        margin: 40px 30px;
    }
    .content-layanan img {
        width: 130px;
    }
    .row1-layanan p, .row2-layanan p {
        font-size: 1.5em;
        margin-top: 20px;
    }
    .row1-layanan .desk-layanan,
    .row2-layanan .desk-layanan{
        font-size: 1em;
        width: 280px;
        margin-top: 20px;
    }
    /* Layanan */

    /* Tentang */
    .row1-tentang {
        width: 100%;
    }
    .row2-tentang .wrapper-tentang {
        height: 320px;
        width: 320px;
        border-radius: 25px;
        background: linear-gradient(141deg, rgba(255,44,223,1) 0%, rgba(0,20,255,1) 100%);
    }

    .mapouter .gmap_canvas iframe {
        border-radius: 20px;
        width: 310px;
        height: 310px;
        transform: translate(-59.7%, 1.5%);
    }
    /* Tentang */
}

@media (max-width: 320px) { /* Small Handphone Device */
    .footer-desk .desk-content img {
        width: 70px;
        height: 70px;
    }
    .desk-content .footer-title {
        font-size: 1.5em;
        margin-top: 11px;
    }
    .footer-list a li {
        font-size: 1em;
    }
    .footer-founder .title-founder {
        font-size: 1.2em;
    }
    .footer-founder .founder1 img {
        width: 70px;
    }
    .founder .founder1 p {
        font-size: 1.1em;
        margin-top: 5px;
    }
    .footer-cpy {
        margin-top: 20px;
    }
    .cpy p {
        font-size: 0.9em;
    }

    /* Tentang */
    .container-tentang h1 {
        font-size: 1.5em;
        margin: 30px 30px;
    }
    .row1-tentang {
        width: 100%;
    }
    .row1-tentang p {
        font-size: 1em;
    }
    .row2-tentang h1 {
        font-size: 1.5em;
    }
    .row2-tentang .wrapper-tentang {
        height: 280px;
        width: 280px;
        border-radius: 25px;
        background: linear-gradient(141deg, rgba(255,44,223,1) 0%, rgba(0,20,255,1) 100%);
    }

    .mapouter .gmap_canvas iframe {
        border-radius: 20px;
        width: 270px;
        height: 270px;
        transform: translate(-83.4%, 1.8%);
    }
    /* Tentang */
}